
<%= form_for [@comment]  do |f| %>

    <div class="form-group">
      <%= f.text_area :body, rows: '3', class: 'form-control' %>
    </div>

    <%= f.submit 'Додати ваш коментарій', class: 'btn btn-default comment_submit' %>

<% end %>