<div class="container">
  <div class="row">
    <div class="span2">
      <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/26169488_1415577528568930_2005114367103196810_n.jpg?oh=1bf973c8d460baf60774763bc44a5e66&oe=5B0EDA5C"
           alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Ірина Рубля</p>
        <small><cite title="Source Title">Якщо під музику не танцюють - це не музика  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> rublya_nukr@ukr.net <br>
        <i class="icon-globe"></i> https://blog-irina.herokuapp.com/ <br>
      </p>
    </div>

  </div>
</div>